---
---
<section class="min-h-screen flex flex-col md:flex-row items-center justify-between bg-black text-white px-8 pt-24 pb-12 max-w-6xl mx-auto gap-10">
  <!-- LEFT Content -->
  <div class="md:w-1/2 text-center md:text-left space-y-6">
    <h1 class="text-5xl font-extrabold">Rishitha Chandra</h1>
    <p class="text-gray-400 font-mono leading-relaxed">
      Hi There! My name is Rishitha, a passionate software developer, a problem solver, and a lifelong learner. 
      I am currently a 4th year student at Oregon State University studying Computer Science with a focus in Business Information Systems. 
       <br />
    </p>  
    <a
      href="#projects"
      class="inline-block mt-4 px-8 py-4 text-white text-lg font-bold rounded-md bg-pink-500 hover:bg-pink-600 transition">
      Welcome &gt;
    </a>
  </div>

  <!-- RIGHT Image -->
  <div class="md:w-1/2 mt-8 md:mt-0 flex justify-center">
   <img
  src="/rishitha.png"
  alt="Rishitha Chandra"
  class="rounded-full w-72 h-72 object-cover object-[center_10%] border-4 border-black shadow-xl"
/>
  </div>
</section>
